.Tooltip {
  position: absolute;
  z-index: 9;
  min-width: 90px;
  padding: 16px;
  background: white;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 4px;
  box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d;

  .title {
    margin-bottom: 4px;
    color: #666;
    font-size: 12px;
  }
  .desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #777;
    font-size: 12px;
  }
}

.tooltipLine {
  position: absolute;
  z-index: 9;
  // top: 300px;
  display: inline-block;
  width: 2px;
  // height: 300px;
  background-color: #e2e2e2;
}
.linePoint {
  position: absolute;
  z-index: 10;
  display: inline-block;
  width: 4px;
  height: 4px;
  background: #1890ff;
  border: 2px solid #fff;
  border-radius: 4px;
}
